
body {
    background-image: url("/images/Background-Login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--base-text);
}

.adminLogin-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: linear-gradient(135deg, var(--high-text-button), var(--low-text-button));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--header-footer-color);
}
h1 {
    font-size: 2rem;
    margin-bottom: 40px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 90%;
    padding: 15px;
    margin: 15px 0px;
    border: 1px solid var(--base-text);
    border-radius: 5px;
    font-size: 1rem;
}
.form-group {
    width: 400px;
    margin: 0 auto;
}
.btn {
    background-color: var(--background);
    color: var(--base-text);
    padding: 15px 10px;
    width: 90%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}
.extra-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
a {
    color: var(--background);
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}

#custom-msg {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}