body {
	background-image : url("/images/Background-Login.jpg");
	background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .signup-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background : linear-gradient(135deg , var(--high-text-button) , var(--low-text-button));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--header-footer-color);
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--base-text);
    border-radius: 5px;
  }
  .form-group {
    width: 300px;
    margin: 0 auto;
  }
  .btn {
    margin-top : 10px;
    background-color: var(--background);
    color: var(--base-text);
    padding: 15px 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }
  .extra-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  a {
    color: var(--background);
    text-decoration: none;
    font-size: 0.9rem;
  }
  a:hover {
    text-decoration: underline;
  }
  textarea {
    resize: vertical;
  }s
.error {
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
}
.error h3 {
	color : red;
}